<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <h2>Edit Book</h2>

    <form action="/books/<%= bookObj.id %>?_method=PUT" method="POST"> <!-- /action is where the form goes to-->
        <%- include('_form_fields.ejs') %>
        <div class="c2">
            <a href="/books" class="btn">Cancel</a>
            <button type="submit" class="btn-primary">Update</button>
        </div>
        
    </form> 
</body>