<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <h2 class="title">New Book</h2>

    <form action="/books" method="POST"> <!-- /action is where the form goes to-->
        <%- include('_form_fields.ejs') %>
       <div class="c2">
            <a href="/books" class="btn-primary">Cancel</a>
            <button type="submit" class="btn">Create</button>
       </div>
    </form> 
</body>