<body>
    <%- include('partials/header.ejs') %>
    <h2 class="title">Recently Added</h2>
    <div>
        <% bookObj.forEach(book => { %>
            <a href="/books/<%= book.id %>">
           <img class="img-size" src="<%= book.coverImagePath %>">
            </a>
        <% }) %>
    </div>
</body>
