<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <h2 class="title">New Author</h2>

    <form action="/authors" method="POST"> <!-- /action is where the form goes to-->
        <div class="input-form">
            <%- include('_form_fields.ejs') %>
           <div class="c1">
                <a href="/authors" class="btn">Cancel</a>
                <button type="submit" class="btn-primary">Create</button>
           </div>
        </div>
    </form> 
</body>